<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello Friends Happy Cristmas in Advance!!!</h1>
  
<%= image_tag attachments['Untitled.jpg'].url, style: 'width: 80%;' %>
</body>
</html>

