<!-- app/views/welcome_mailer/send_welcome_mail.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello Dost, congrats!!!</h1>
  <p>This is the body of your welcome email.</p>
</body>
</html>
