

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hello Friends Happy Cristmas in Advance!!!</h1>
  <p>This is the body of your welcome email.</p>
 
  <img src="Untitled.jpg" alt="Welcome" width="800" height="900"> 

</body>
</html>
